body {
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

:root {
  --bg-color: black;
  --second-bg-color: #0a0a0a;
  --text-color: white;
  --main-color: #a0b2e4;
}

.animate {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.7s ease-out, transform 0.3s ease-out;
}
.animate.show {
  opacity: 1;
  transform: translateY(0);
}

.animateLeft {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.7s ease-out, transform 0.3s ease-out;
}
.animateLeft.show {
  opacity: 1;
  transform: translateY(0);
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 2em;
}


.heading-main span, .heading-shado span {
  color: var(--main-color);
}

.heading-main {
  font-size: 3rem;
  text-decoration: underline var(--main-color) 3px;
  text-underline-offset: 15px;
}

.heading-shado {
  margin-top: -6rem;
  opacity: 0.1;
  font-size: 5rem;
}

.heading-main,
.heading-shado {
  text-align: center;
  margin-bottom: 3rem;
}

.faq {
  list-style: none;
  max-width: 700px;
  margin: 0 auto;
}

.faq li {
  background-color: #000000;
  border-radius: 2rem;
  margin-bottom: 2rem;
  border: 2px solid var(--main-color);
}

.q {
  display: flex;
  justify-content: space-between;
  padding: 1.3em 3rem;
  cursor: pointer;
  font-weight: 900;
}

.q span{
    color: var(--main-color);

}

.q:hover{
  .arrow{
    text-shadow: 0 0 10px var(--main-color);
  }
}

.arrow {
  transition: 0.3s;
  color: #000;
}

.faq q {
  color: #888;
  line-height: 25px;
}

.a {
  overflow: hidden;
  opacity: 0;
  height: 0;
  line-height: 25px;
  font-weight: 600;
  padding: 0em 0em 0em 3.3em;
  transition: 0.3s;
}

.a p{
  font-size: 14px;
}

.a-opened {
  padding: 1em 1em 2em 3.3em;
  height: initial;
  transition: 0.3s;
  opacity: 1;
}

.arrow-rotated {
  transform: rotate(90deg);
}

.gobackbtn{
  padding: 1rem 2rem;
  color: var(--main-color);
  font-weight: 800;
  background-color: #000;
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  transition: all 0.7s;
}

.gobackbtn:hover{
  color: #000;
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 15px;
  transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: rgb(39, 39, 39);
}